<%= bootstrap_form_for :session, url: sign_in_path do |f| %>
	<div class="field"> 
		<%= f.email_field :email, autofocus: true %> 
	</div> 
	<div class="field">
		 <%= f.password_field :password, autocomplete: "off" %>
	</div>
	<div class="actions"> <%= f.submit "Log in" %> 
	</div>
	<br /> 
	 <p>Novo Usuario? <%= link_to "Cadastre-se aqui", new_user_path %></p>  
<% end %>

